/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2 de dez. de 2020, 18:35:48
    Author     : cobra
*/

/* ------------------------------------------------ GRID INICIO -------------------------- */
.grid-administrator {
	display: grid;
	height: auto;
	color: white;
	text-align: left;
	margin-top: 2%;
	grid-template-columns: 1fr 2fr 2fr 2fr;
	grid-template-areas: 
		"tasks-title tasks-my tasks-toDo tasks-now"
		"opportunities-title opportunities-funnel opportunities-now opportunities-lost"
		"journeys-title tasks-team tasks-team tasks-team";
	gap: 12% 2%;
}

.tasks-title{
	grid-area: tasks-title;
	height: 100%;
	padding: 4%;
	vertical-align: middle;
	border-radius: 10px;
	text-align: center;
	color: #874983;
}

.tasks-now{
	grid-area: tasks-now;
	text-shadow: 2px 2px 4px #000000;
	background-color: #92C4D4;
	padding: 4%;
	padding-top: 10%;
	padding-bottom: 10%;
	border-radius: 10px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	text-decoration:none;
}
.tasks-now:hover{
	background-color: #27ACD7;
}
.tasks-toDo {
	grid-area: tasks-toDo;
    text-shadow: 2px 2px 4px #000000;
	background-color: #F2E28C;
	padding: 4%;
	padding-top: 10%;
	padding-bottom: 10%;
	border-radius: 10px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	text-decoration:none;
}
.tasks-toDo:hover{
	background-color: #FAD300;
}
.tasks-my {
	grid-area: tasks-my;
	text-shadow: 2px 2px 4px #000000;
	background-color: #D8C2DB;
	padding: 4%;
	padding-top: 10%;
	padding-bottom: 10%;
	border-radius: 10px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.tasks-my:hover{
	background-color: #AC56B8;
}

.opportunities-title{
	grid-area: opportunities-title;
	height: 100%;
	padding: 4%;
	border-radius: 10px;
	text-align: center;
	color: #874983;
	vertical-align: middle;
}
.opportunities-funnel{
	grid-area: opportunities-funnel;
	height: 100%;
	border-radius: 10px;
	text-align: center;
	color: #874983;
}

.funnel-bar-prospecting{
	background-color: #8B2485;
	color: white;
	text-align: left;
	width: 100%;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px; 
	text-shadow: 2px 2px 4px #000000;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	font-size: 14px;
}
.funnel-bar-prospecting:hover{
	background-color: #F905E9;
}
.funnel-bar-presentation{
	background-color: #957799;
	color: white;
	text-align: left;
	width: 70%;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 8px;
	text-shadow: 2px 2px 4px #000000;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	font-size: 14px;
}
.funnel-bar-presentation:hover{
	background-color: #DF0FFC;
}
.funnel-bar-proposal{
	background-color: #EDB4F4;
	color: white;
	text-align: left;
	width: 50%;
	padding-left: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-top: 8px;
	text-shadow: 2px 2px 4px #000000;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	font-size: 14px;
}
.funnel-bar-proposal:hover{
	background-color: #892996;
}
.balance-won{
	width: 0;
	height: 0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-bottom: 100px solid #A3FDE6;
	text-align: center;
	display: inline-block;
	margin-left: 40px;
}
.balance-won:hover{
	border-bottom: 100px solid #10DAA7;
}
.balance-lost{
	width: 0;
	height: 0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-top: 100px solid #FDDBDD;
	text-align: center;
	display: inline-block;
	margin-left: 40px;
}
.balance-lost:hover{
	border-top: 100px solid #DF4650;
	color: white;
}
.balance_number{
    text-align:center;
    color:white;
    font-weight:600;
    line-height: 0px;
    font-size: 36px;
	position: absolute;
	top: 50px;
	right: 0px;
	left:40px;
	text-shadow: 2px 2px 4px #000000;
}
.balance_label_won{
    text-align:center;
    color:white;
    font-weight:600;
    line-height: 0px;
    font-size: 18px;
    padding-top: 10%;
	position: absolute;
	top: 55px;
	right: 0px;
	left:40px;
	text-shadow: 2px 2px 4px #000000;
}
.balance_label_lost{
    text-align:center;
    color:white;
    font-weight:600;
    line-height: 0px;
    font-size: 18px;
    padding-top: 10%;
	position: absolute;
	top: -5px;
	right: 0px;
	left:40px;
	text-shadow: 2px 2px 4px #000000;
}
.journeys-title{
	grid-area: journeys-title;
	height: 100%;
	padding: 4%;
	text-align: center;
	color: #874983;
}

/*                       ------------ fim do grid administrator---------           */

.opportunities-toDo {
	grid-area: opportunities-toDo;
    text-shadow: 2px 2px 4px #000000;
	background-color: #F2E28C;
	padding: 4%;
	border-radius: 10px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.opportunities-my {
	grid-area: opportunities-my;
	text-shadow: 2px 2px 4px #000000;
	background-color: #D8C2DB;
	padding: 4%;
	border-radius: 10px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.tasks-team {
	grid-area: tasks-team;
    width: 100%;
    text-align:center;
    display: table;
	background-color: #E2FAF4;
    font-size: 14px;
    border-bottom-style: solid;
    border-width: 2px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hoursToday {
	grid-area: hours;
	text-shadow: 2px 2px 4px #000000;
	background-color: #D8C2DB;
	padding: 4%;
	border-radius: 20px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.destaque{
    margin-top:0px;
    background-color: white;
}
/*fim do GRID*/

.numeros_painel{
    text-align:center;
    color:white;
    font-weight:600;
    line-height: 0px;
    font-size: 36px;
    margin: 0px;
    padding-top: 10%;
}

.button-panel {
    width: 50px;
    height: 28px;
    background: #A497C2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: solid;
    border-width: 1px;
    border-color: #c28dbf;
    padding: 2.5px 2.5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 40%;
    color: white;
    transition-duration: 0.4s;
    margin: 2px;
}

.button-panel:hover {
    background-color: #6357A1;
    border-color: #6357A1;
    color: white;
}