/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12 de nov. de 2020, 00:26:32
    Author     : cobra
*/

.body{
	padding: 0;
	margin:0;
	font-family: "Nunito", sans-serif;
}

.container {
	background-color: #c28dbf;
	height: 100%;
	margin: 0px;
	padding: 0px;
}

.logo{
	background-color:red;
	width: 680px;
	height: 70px;
	padding: 10px;
	display: inline-block;
	float: left;
}

.account{
	background-color:#874983;
	background-color: green;
	width: 70%;
	height: 70px;
	display: inline-block;
	float: right;
}

.header{
	grid-area: header;
	color: white;
	margin-top: -80px;
	margin-left: -50px;
	margin-right: 0px;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: right;
    font-weight:700;
    font-size:24px;
	background-color:#874983;
	width: 115%;
	height: 90px;
}

.main{
	grid-area: main;
    margin:0px;
    background-color: white;
	padding-top: 1%;
	padding-left: 2%;
	padding-right: 2%;
}

h2{
	font-size: 28px;
	color:#874983;
}