/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12 de nov. de 2020, 00:26:32
    Author     : cobra
*/

.body{
	padding: 0;
	margin:0;
	font-family: "Nunito", sans-serif;
}

.container {
	background-color: #c28dbf;
	height: 100%;
	margin: 0px;
	padding: 0px;
}

.logo{
	background-color:#874983;
	border: 0px;
	width: 165px;
	height: 75px;
	padding: 10px;
	padding-top: 15px;
}

.account{
	color:white;
	background-color:#874983;
	border: 0px;
	width: 350px;
	height: 80px;
	padding:10px;
	font-size: 12px;
}

.image-header{
	color:white;
	text-align: center;
	font-size: 14px;
	font-weight: 500;
	background-color:#c28dbf;
	border: 0px;
	width: 130px;
	height: 85px;
	padding: 10px;
	padding-top: 5px;
}

.header{
	grid-area: header;
	color: white;
	margin-top: -80px;
	margin-left: -50px;
	margin-right: 0px;
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: right;
    font-weight:700;
    font-size:24px;
	background-color:#874983;
	width: 115%;
	height: 90px;
}

.main{
	grid-area: main;
    margin:0px;
    background-color: white;
	padding-top: 1%;
	padding-left: 2%;
	padding-right: 2%;
}

p{
	font-size: 14px;
	color:black;
}

h2{
	font-size: 28px;
	color:#874983;
}

h3{
	font-size: 20px;
	color:#874983;
}

h4{
	font-size: 16px;
	color:#874983;
}

.table-list{ 
	border-collapse: collapse;
    width: 100%;
    text-align:center;
    display: table;
	color:#874983;
	font-size: 14px;
	border-bottom-style: solid;
	border-width: 2px;
	padding-top: 5%;
}

.table-list-center{ 
	display: table-cell;
	padding:0.5%;
	vertical-align:super;
	border-bottom: solid;
	border-width: 1px;
}

.table-list-right{ 
	display: table-cell;  
    padding:0.5%;
	text-align: right;
	vertical-align:super;
	border-bottom: solid;
	border-width: 1px;
}
.table-list-left{ 
	display: table-cell;  
    padding:0.5%;
	text-align: justify;
	vertical-align:super;
	border-bottom: solid;
	border-width: 1px;
}

.table-list-left ul{ 
	list-style-type : circle;
	list-style-position: outside;
}

.table-list-money-expense{ 
	display: table-cell;  
    padding:0.5%;
	text-align: right;
	vertical-align:super;
	border-bottom: solid;
	border-width: 1px;
	color: red;
}

.table-list-money-income{ 
	display: table-cell;  
    padding:0.5%;
	text-align: right;
	vertical-align:super;
	border-bottom: solid;
	border-width: 1px;
	color: blue;
}

.table-list-header{ 
	display: table-cell;  
    padding-left: 10px;
	padding-right: 10px;
	font-size: 12px;
	border: 5px;
	border-color: #c28dbf;
	text-align: center;
	color: white;
	vertical-align:super;
	background-color: #c28dbf
}

.table-list-header-right{ 
	display: table-cell;  
	text-align: right;
	border: 0px;
	border-style: none;
	border-color: #c28dbf;
	color: white;
	vertical-align:super;
	background-color: #c28dbf
}