/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2 de mai de 2020, 20:39:13
    Author     : empresadigital
*/


* {
    box-sizing: border-box;
}

html, body {
    background-color: #3e518e;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

/*--------------- ESTILOS DO MENU -------------- */

.sidenav {
    height: 100%;
    width: 15%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #c28dbf;
    overflow-x: hidden;
    display: inline-block;
    border: none;


}

.sidenav a {
    color: white;
    padding: 10px;
    text-decoration: none;
    display: block;
    text-decoration: none;

}

.sidenav a:hover {
    background-color: #ddd;
    color: black;
}

.sidenav ul {
    margin-left: -30px;
    list-style-type: none;
}


.sidenav ul li {
   position: relative;
}

.sidenav li ul {
position: absolute;
left: 149px;
top: 0;
//display: none;
}


/* The menuuuuuuuuuuuuu */


}




/*--------------- ESTILOS DO CONTEÚDO -------------- */


.content {
    margin-top: -17px;
    margin-left: 15%;
    padding: 0;
    width: 85%;
    height: 100%;
    border: none;
}

.coluna-esquerda {
    padding: 20px;
    text-align: right;
    color:white;
    font-size:16px;
    margin-left: 15%;
    width: 45%;
    display: inline-block;
    text-align: center;
}

.coluna-direita {
    padding: 20px;
    color:white;
    font-size:16px;
    margin:auto;
    width: 30%;
    display: inline-block;
    text-align: center;

}

.titulo_branco{
    text-align: center;
    color:white;
    font-size:36px;
    font-weight: bold;
}

.destaque_amarelo{
    text-align: center;
    color:yellow;
    font-size:26px;
    font-weight: bold;
}

.foto {
    margin: 20px;
    padding: 0px;
    height: 18%;
    width: 60%;
    background-color: white;
    border-radius: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

