/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28 de mai de 2020, 15:20:03
    Author     : empresadigital
*/

html, body{
    margin: 0;
    padding: 0;
    font-family:helvetica,arial,verdana;
    overflow-x: hidden;
}

/* ------------------------------------------------ MENU -------------------------- */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #c28dbf; /* fundo*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    -webkit-box-shadow: 9px 0px 25px 0px rgba(50, 50, 50, 0.58);
-moz-box-shadow:    9px 0px 25px 0px rgba(50, 50, 50, 0.58);
box-shadow:         9px 0px 25px 0px rgba(50, 50, 50, 0.58);
}

/* The navigation menu links */
.sidenav a {
    padding: 6px 6px 6px 8px;
    text-decoration: none;
    font-size: 16px;
    color: white;
    display: block;
    transition: 0.3s;
    overflow: hidden;
}

.dropdown-btn {
    background-color: #c28dbf; /* fundo*/
    color: white;
    padding: 6px 6px 6px 8px;
    font-size: 16px;
    border: none;
    width: 100%;
    text-align: left;
    padding: 8px;
}

.sidenav ul li {
    padding: 2px 2px 2px 4px;
    font-size: 10px;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .dropdown-btn:hover {
    color: #874983;
    background-color: white;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: -6px;
    right: -7px;
    font-size: 26px;
    margin-left: 50px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 14px;}
}


/* Add an active class to the active dropdown button */
.active {
    background-color: #874983;
    color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
    display: none;
    background-color: #874983;
    padding-left: 8px;
}

.dropdown-container a{
    padding-left: 18px;
    padding-top: 7px;
    padding-bottom: 7px;
    background-color: #8A0886;
    font-size: 14px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
    float: right;
    padding-right: 8px;
}

/* ------------------------------------------------ PRINCIPAL (MAIN) -------------------------- */

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 0px;
    margin: 0px;
    height: 100vh;
    display: block;
    z-index: 1;
    width:100vw;
    

}

.botao-ativar{
    color: white;
    padding: 7px;
    background-color: #c28dbf;
    width:1.5vw;
    border-radius: 0px 8px 8px 0px;
    z-index: 9;
    float: left;
    position: fixed;
        -webkit-box-shadow: 9px 0px 25px 0px rgba(50, 50, 50, 0.58);
-moz-box-shadow:    9px 0px 25px 0px rgba(50, 50, 50, 0.58);
box-shadow:         9px 0px 25px 0px rgba(50, 50, 50, 0.58);

}

/* ------------------------------------------------ PÁGINAS (PAINEL) -------------------------- */

.secao-roxa{
    margin:0px;
    padding:0px;
    padding-top: 20px;
    border:none;
    height: auto;
    width:100%;
    clear: both;
    background-color: #874983;
}

.secao-branca{
    padding:0px;
    padding-top: 20px;
    width:100%;
    border:none;
    height: auto;
    text-align: center;
    background-color: white;
    clear: both;
}

.secao-iframe{
    padding: 0px;
    margin: 0px;
    height: 100vh;
    z-index: 1;
width:100%;
}

.coluna-esquerda{
    padding:5px;
    color:#fff;
    font-size:16px;
    width:70vw;
    display:inline-block;
    vertical-align: top;
    text-align: center;
}

.coluna-direita{
    padding:3px;
    margin-right: 20px;
    color:#fff;
    font-size:16px;
    width:25vw;
    display:inline-block;

}

.coluna-4-roxo{
    padding:5px;
        margin-bottom:15px;
    color:#874983;
    font-size:16px;
    width:20%;
    display:inline-block;
    text-align:center;
    vertical-align: top;
}

.coluna-4-branco{
    padding:20px;
        margin-bottom:15px;
    color:white;
    font-size:16px;
    width:20%;
    display:inline-block;
    text-align:center;
    vertical-align: top;
    
}

.destaque_amarelo{
    text-align:center;
    color:#ff0;
    font-size:20px;
    font-weight:600
}

.subtitulo-branco{
    text-align: center;
    color: white;
    font-weight:800
}

.subtitulo-roxo{
    text-align: center;
    color: #874983;
    font-weight:800
}

.titulo-roxo{
    color: #874983;
    margin-top: 10px;
    margin-bottom: 0px;
    font-weight:700;
    text-align:center;
    font-size:36px;
}

.titulo-branco{
    color: white;
    margin-top: 10px;
    margin-bottom: 0px;
    font-weight:700;
    text-align:center;
    font-size:36px;
}

.foto{
    margin:20px;
    padding:0;
    height:18%;
    width:60%;
    background-color:#fff;
    border-radius:500px;
    display:block;
    margin-left:auto;
    margin-right:auto
}

.center{
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:50%
}