/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28 de mai de 2020, 15:20:03
    Author     : empresadigital
*/

html, body{
    margin: 0;
    padding: 0;
}

/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #c28dbf; /* fundo*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 12px;
    text-decoration: none;
    font-size: 16px;
    color: white;
    display: block;
    transition: 0.3s;
    overflow: hidden;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #874983;
    background-color: white;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: -6px;
    right: -7px;
    font-size: 26px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 0px;
    background-color: #874983;
    margin: 0px;
    height: 100vh;
      display: block;
        z-index: 1;
         
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.botao-ativar{
    color: white;
    padding: 10px;
    background-color: #c28dbf;
    width:1.5vw;
    border-radius: 0px 8px 8px 0px;
    z-index: 9;
    float: left;
    position: absolute;
}

.secao-roxa{
    margin-top:0px;
    padding:10px;
    border:none;
    height: 250px;
    width:100vw;
    clear: both;
}

.secao-branca{
    margin-top:0px;
    padding:10px;
    width:99vw;
    border:none;
    height: auto;
    text-align: center;
    background-color: white;
    clear: both;
}

.secao-iframe{
    padding: 0px;
    margin: 0px;
    height: 100vh;
    z-index: 1;
   
}

.coluna-esquerda{
    padding:5px;
    color:#fff;
    font-size:16px;
     width:70vw;
    display:inline-block;
    vertical-align: top;
    text-align: center;
}

.coluna-direita{
    padding:3px;
    margin-right: 20px;
    color:#fff;
    font-size:16px;
      width:25vw;
    display:inline-block;

}

.coluna-4{
    padding:5px;
    margin-top: 15px;
    margin-bottom:15px;
    color:#874983;
    font-size:16px;
    width:20%;
    display:inline-block;
    text-align:center;
        vertical-align: middle;
}

.titulo_branco{
    text-align:center;
    color:#fff;
    font-size:36px;
    font-weight:700
}

.destaque_amarelo{
    text-align:center;
    color:#ff0;
    font-size:20px;
    font-weight:600
}

.subtitulo-branco{
    text-align: center;
    color: white;
        font-weight:800
}

.subtitulo-roxo{
    text-align: center;
    color: #874983;
        font-weight:800
}

.foto{
    margin:20px;
    padding:0;
    height:18%;
    width:60%;
    background-color:#fff;
    border-radius:500px;
    display:block;
    margin-left:auto;
    margin-right:auto
}

.center{
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:50%
}