/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 13 de jun. de 2021, 19:24:13
    Author     : cobra
*/

.facebook {
    color: white;
    background-color: #3b5998;
    padding: 2%;
    border-radius: 20px;
}

.instagram {
    color: white;
    background-color: #c32aa3;
    padding: 2%;
    border-radius: 20px;
}

.linkedin {
    color: white;
    background-color: #007bb5;
    padding: 2%;
    border-radius: 20px;
}

.twitter {
    color: white;
    background-color: #1da1f2;
    padding: 2%;
    border-radius: 20px;
}

.pinterest {
    color: white;
    background-color:  #c8232c;
    padding: 2%;
    border-radius: 20px;
}

.youtube {
    color: white;
    background-color: #c4302b;
    padding: 2%;
    border-radius: 20px;
}

.spotify {
    color: white;
    background-color: #1DB954;
    padding: 2%;
    border-radius: 20px;
}

.competitor {
    color: white;
    background-color: #874983;
    padding: 2%;
    border-radius: 20px;
}
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2 de dez. de 2020, 18:35:48
    Author     : cobra
*/

/* ------------------------------------------------ GRID INICIO -------------------------- */
.financial-display {
    text-align: right;
    background-color: #c28dbf;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
       margin-left: 1%;
   margin-right: 1%;
}

.financial-image {
     position: relative;
     display: inline-block;
     float: left;
     width:100%;
     margin-top: 0px;
}

.tasks-title{
    grid-area: tasks-title;
    height: 100%;
    padding: 4%;
    vertical-align: middle;
    border-radius: 10px;
    text-align: center;
    color: #874983;
}

.tasks-now{
    text-shadow: 2px 2px 4px #000000;
    background-color: #92C4D4;
    margin: 1%;
    padding-top: 3.5%;
    padding-bottom: 2%;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-decoration:none;
}
.tasks-now:hover{
    background-color: #27ACD7;
}

.tasks-emergency{
    text-shadow: 2px 2px 4px #000000;
    background-color:  #ffafac ;
    margin: 1%;
    padding-top: 3.5%;
    padding-bottom: 2%;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-decoration:none;
}
.tasks-emergency:hover{
    background-color:  #f7736f ;
}
.tasks-toDo {
    text-shadow: 2px 2px 4px #000000;
    background-color: #F2E28C;
    margin: 1%;
    padding-top: 3.5%;
    padding-bottom: 2%;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-decoration:none;
}
.tasks-toDo:hover{
    background-color: #FAD300;
}
.tasks-my {
    text-shadow: 2px 2px 4px #000000;
    background-color: #D8C2DB;
    margin: 1%;
    padding-top: 3.5%;
    padding-bottom: 2%;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.tasks-my:hover{
    background-color: #AC56B8;
}

.opportunities-title{
    grid-area: opportunities-title;
    height: 100%;
    padding: 4%;
    border-radius: 10px;
    text-align: center;
    color: #874983;
    vertical-align: middle;
}
.opportunities-funnel{
    grid-area: opportunities-funnel;
    height: 100%;
    border-radius: 10px;
    text-align: center;
    color: #874983;
}

.funnel-bar-prospecting{
    background-color: #8B2485;
    color: white;
    text-align: left;
    width: 80%;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px; 
    text-shadow: 2px 2px 4px #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-size: 14px;
}
.funnel-bar-prospecting:hover{
    background-color: #F905E9;
}
.funnel-bar-presentation{
    background-color: #957799;
    color: white;
    text-align: left;
    width: 70%;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 8px;
    text-shadow: 2px 2px 4px #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-size: 14px;
}
.funnel-bar-presentation:hover{
    background-color: #F905E9;
}
.funnel-bar-proposal{
    background-color: #EDB4F4;
    color: white;
    text-align: left;
    width: 60%;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 8px;
    text-shadow: 2px 2px 4px #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-size: 14px;
}
.funnel-bar-proposal:hover{
    background-color: #F905E9;
}
.funnel-bar-contract{
    background-color: #92C4D4;
    color: white;
    text-align: left;
    width: 50%;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 8px;
    text-shadow: 2px 2px 4px #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-size: 14px;
}
.funnel-bar-contract:hover{
    background-color: #F905E9;
}
.funnel-bar-bill{
    background-color: #F7AFB4;
    color: white;
    text-align: left;
    width: 40%;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 8px;
    text-shadow: 2px 2px 4px #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-size: 14px;
}
.funnel-bar-bill:hover{
    background-color: #F905E9;
}
.funnel-bar-production{
    background-color: #09FBBE;
    color: white;
    text-align: left;
    width: 30%;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 8px;
    text-shadow: 2px 2px 4px #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-size: 14px;
}
.funnel-bar-production:hover{
    background-color: #F905E9;
}
.funnel-bar-concluded{
    background-color: #20EB48;
    color: white;
    text-align: left;
    width: 20%;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 8px;
    text-shadow: 2px 2px 4px #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-size: 14px;
}
.funnel-bar-concluded:hover{
    background-color: #F905E9;
}
.balance-won{
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 100px solid #A3FDE6;
    text-align: center;
    display: inline-block;
    margin-left: 40px;
}
.balance-won:hover{
    border-bottom: 100px solid #10DAA7;
}
.balance-lost{
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-top: 100px solid #FDDBDD;
    text-align: center;
    display: inline-block;
    margin-left: 40px;
}
.balance-lost:hover{
    border-top: 100px solid #DF4650;
    color: white;
}
.balance_number{
    text-align:center;
    color:white;
    font-weight:600;
    line-height: 0px;
    font-size: 36px;
    position: absolute;
    top: 50px;
    right: 0px;
    left:15px;
    text-shadow: 2px 2px 4px #000000;
}
.balance_label_won{
    text-align:center;
    color:white;
    font-weight:600;
    line-height: 0px;
    font-size: 18px;
    padding-top: 10%;
    position: absolute;
    top: 60px;
    right: 0px;
    left:15px;
    text-shadow: 2px 2px 4px #000000;
}
.balance_label_lost{
    text-align:center;
    color:white;
    font-weight:600;
    line-height: 0px;
    font-size: 18px;
    padding-top: 10%;
    position: absolute;
    top: -5px;
    right: 0px;
    left:-10px;
    text-shadow: 2px 2px 4px #000000;
}
.journeys-title{
    grid-area: journeys-title;
    height: 100%;
    padding: 4%;
    text-align: center;
    color: #874983;
}

/*                       ------------ fim do grid administrator---------           */

/* ------------------------------------------------ GRID INICIO -------------------------- */
.grid-employee {
    display: grid;
    height: auto;
    color: white;
    text-align: left;
    margin-top: 2%;
    grid-template-columns: 1fr 2fr 2fr 2fr;
    grid-template-areas: 
        "tasks-title tasks-delayed tasks-my tasks-now"
        "opportunities-title opportunities-funnel opportunities-now opportunities-lost"
        "journeys-title tasks-team tasks-team tasks-team";
    gap: 12% 2%;
}

.tasks-delayed {
    grid-area: tasks-delayed;
    text-shadow: 2px 2px 4px #000000;
    background-color: #F2E28C;
    padding: 4%;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-decoration:none;
}
.tasks-delayed:hover{
    background-color: #FAD300;
}





.opportunities-toDo {
    grid-area: opportunities-toDo;
    text-shadow: 2px 2px 4px #000000;
    background-color: #F2E28C;
    padding: 4%;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.opportunities-my {
    grid-area: opportunities-my;
    text-shadow: 2px 2px 4px #000000;
    background-color: #D8C2DB;
    padding: 4%;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.tasks-team {
    grid-area: tasks-team;
    width: 100%;
    text-align:center;
    display: table;
    background-color: #E2FAF4;
    font-size: 14px;
    border-bottom-style: solid;
    border-width: 2px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.hoursToday {
    grid-area: hours;
    text-shadow: 2px 2px 4px #000000;
    background-color: #D8C2DB;
    padding: 4%;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.destaque{
    margin-top:0px;
    background-color: white;
}
/*fim do GRID*/

.panel-number{
    text-align:center;
    color:white;
    font-weight:600;
    line-height: 0px;
    font-size: 36px;
    margin: 0px;
    padding-bottom: 20px;
}

.panel-title {
    text-align: center;
    color: white;
        text-shadow: 2px 2px 4px #000000;
    font-weight:800;
    font-size:22px;
    margin: 0px;
    padding-top: 0%;
}

.panel-text{
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-weight:600;
    font-size:18px;
    margin: 0px;
    padding-top: 0%;
}

.button-panel {
    width: 50px;
    height: 28px;
    background: #A497C2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: solid;
    border-width: 1px;
    border-color: #c28dbf;
    padding: 2.5px 2.5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 40%;
    color: white;
    transition-duration: 0.4s;
    margin: 2px;
}

.button-panel:hover {
    background-color: #6357A1;
    border-color: #6357A1;
    color: white;
}

/*BUSINESS MODEL*/
.panel-how {
    background-color: #92C4D4;
    margin: 0.5%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-decoration:none;
}

.panel-what {
    background-color: #F2E28C;
    margin: 0.5%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-decoration:none;
}

.panel-who {
    background-color: #D8C2DB;
    margin: 0.5%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-decoration:none;
}

.panel-how-much {
    background-color: #20c997;
    margin: 0.5%;
    padding-top: 2%;
    padding-bottom: 2%;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-decoration:none;
}
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21 de mai. de 2021, 10:57:56
    Author     : cobra
*/

 /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #874983;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
} 


.form-check-input:checked {
background-color: #c28dbf;
border-color: #c28dbf;
}
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24 de nov. de 2020, 17:54:57
    Author     : nathalia
*/


table{ 
    width: 100%;
    text-align:center;
    display: table;
    color:#874983;
    font-size: 14px;
    border-bottom-style: solid;
    border-width: 2px;
    padding-top: 5%;
}

.table-center{ 
    display: table-cell;
    vertical-align:super;
    border-bottom: solid;
    border-width: 1px;
}

.table-right{ 
    display: table-cell;  
    padding:0.5%;
    text-align: right;
    vertical-align:super;
    border-bottom: solid;
    border-width: 1px;
    font-weight: bolder;
}
.table-left{ 
    display: table-cell;  
    padding:0.5%;
    text-align: justify;
    vertical-align:super;
    border-bottom: solid;
    border-width: 1px;
    font-weight: bolder;
}

.table-left ul{ 
    list-style-type : circle;
    list-style-position: outside;
}

.table-money-expense{ 
    display: table-cell;  
    padding:0.5%;
    text-align: right;
    vertical-align:super;
    border-bottom: solid;
    border-width: 1px;
    color: red;
}

.table-money-income{ 
    display: table-cell;  
    padding:0.5%;
    text-align: right;
    vertical-align:super;
    border-bottom: solid;
    border-width: 1px;
    color: blue;
}

.table-header{ 
    display: table-cell;  
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    color: white;
    vertical-align:super;
    background-color: #c28dbf
}

/*nova tabela com DIVS e bootstrap*/
.tb { 
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 4px;
    padding-bottom: 4px;
    color: #874983;
    font-size:14px;
    border-color: rgba(135, 73, 131,0.50);
    border-style: solid;
    border-width: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tb:hover{ 
    background-color: #f9d0ff;
}

.tb-description { 
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 4px;
    padding-bottom: 4px;
    color: #874983;
    font-size:14px;
    border-color: rgba(135, 73, 131,0.50);
    border-style: solid;
    border-width: 1px;
    text-align: left;
}

.tb-description:hover{ 
    background-color: #f9d0ff;
}

.tb-row { 
    padding-left: 20px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #874983;
    font-size:14px;
    border-left-color: rgba(135, 73, 131,0.50);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgba(135, 73, 131,0.50);
    border-right-style: solid;
    border-right-width: 1px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/*STATUS*/
.td-aproved{
    background-color: #C3FEEF;
}

.tb-canceled{
    background-color: #E5E5E5;
}

.tb-footer{ 
    color: white;
    background-color: #c28dbf;
    font-size:15px;
    border-color: #874983;
    border-style: solid;
    border-width: 1px;
    border-radius: 0 0 8px 8px;
    min-height: 15px;
}

.tb-header{ 
    color: white;
    text-align: center;
    background-color: #c28dbf;
    font-size:14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tb-header-start{ 
    color: white;
    text-align: center;
    background-color: #c28dbf;
    font-size:15px;
    border-radius: 8px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tb-header-end { 
    color: white;
    text-align: center;
    background-color: #c28dbf;
    font-size:15px;
    border-radius: 0 8px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-header-right{ 
    display: table-cell;  
    text-align: right;
    color: white;
    vertical-align:super;
    background-color: #c28dbf
}

td {
    display: table-cell;  
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    font-weight:  900;
    vertical-align:super;
}

/*  PRIORITIES */

.tb-low {
    font-size: 14px;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    background-color:#B9A4D0;
    border-style: solid;
    border-width: 1px; 
    justify-content: center;
}


.tb-medium{
    font-size: 14px;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    background-color: #9A8ABF;
    border-style: solid;
    border-width: 1px; 
    justify-content: center;
}

.tb-high{
    font-size: 14px;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    background-color: #6357A1;
    border-style: solid;
    border-width: 1px; 
    justify-content: center;
}

.td-contract{
    display: table-cell;  
    font-size: 14px;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    vertical-align:super;
    background-color: #92C4D4;
    border-style: solid;
    border-width: 1px; 
    border-color: white;
}

.td-bill{
    display: table-cell;  
    font-size: 14px;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    vertical-align:super;
    background-color: #F7AFB4;
    border-style: solid;
    border-width: 1px; 
    border-color: white;
}

.tb-done{
    font-size: 14px;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    background-color: #A5D9CC;
    border-style: solid;
    border-width: 1px; 
    justify-content: center;
}
.td-disabled{
    display: table-cell;  
    font-size: 14px;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    vertical-align:super;
    background-color: #f494aa;
    border-style: solid;
    border-width: 1px; 
    border-color: white;
}
.tb-doing{
    font-size: 14px;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    background-color: #92C4D4;
    border-style: solid;
    border-width: 1px; 
    justify-content: center;
}

.tb-emergency{
    font-size: 14px;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    background-color: #392F6D;
    border-style: solid;
    border-width: 1px; 
    justify-content: center;
}

.tb-toDo{
    font-size: 14px;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    background-color: #F2E28C;
    border-style: solid;
    border-width: 1px; 
    justify-content: center;
}

.td-production{
    display: table-cell;  
    font-size: 14px;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    vertical-align:super;
    background-color: #09FBBE;
    border-style: solid;
    border-width: 1px; 
    border-color: white;
}

.tb-stuck{
    font-size: 14px;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    background-color: #F7AFB4;
    border-style: solid;
    border-width: 1px; 
    justify-content: center;
}

.tb-canceled{
    font-size: 14px;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    background-color: #E5E5E5;
    border-style: solid;
    border-width: 1px; 
    justify-content: center;
}

.td-conclude{
    display: table-cell;  
    font-size: 14px;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    vertical-align:super;
    background-color: #20EB48;
    border-style: solid;
    border-width: 1px; 
    border-color: white;
}

.tb-late{
    color: white;
    text-shadow: 2px 2px 4px #000000;
    background-color: #FDA15E;
}

/*-------FATURAS-----*/
.tb-draft{
    background-color: #F9D0FF;
}

.tb-aproved{
    background-color: #C3FEEF;
}

.tb-overdue{
    background-color: #09FBBE;
}

.tb-paid{
    background-color: #09FBBE;
}

.td-paid-partial{
    display: table-cell;  
    font-size: 14px;
    color: black;
    vertical-align:super;
    background-color: #b3d7f2;
    border-style: solid;
    border-width: 1px; 
    border-color: white;
}

.tb-pending{
    background-color: #E5E5E5;
}


/*  Oportunidades / Stage */

.tb-prospecting{
    font-size: 14px;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    background-color: #8B2485;
    border-style: solid;
    border-width: 1px; 
    justify-content: center;
}

.tb-presentation{
    font-size: 14px;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    background-color: #957799;
    border-style: solid;
    border-width: 1px; 
    justify-content: center;
}

.tb-proposal{
    font-size: 14px;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    background-color: #EDB4F4;
    border-style: solid;
    border-width: 1px; 
    justify-content: center;
}
.td-published{
    background-color: #49d194;
}

.tb-dealing{
    font-size: 14px;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    background-color: #EDD500;
    border-style: solid;
    border-width: 1px; 
    justify-content: center;
}

.tb-bill{
    font-size: 14px;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    background-color: #F7AFB4;
    border-style: solid;
    border-width: 1px; 
    justify-content: center;
}

.tb-contract{
    font-size: 14px;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    background-color: #92C4D4;
    border-style: solid;
    border-width: 1px; 
    justify-content: center;
}

.tb-production{
    font-size: 14px;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    background-color: #09FBBE;
    border-style: solid;
    border-width: 1px; 
    justify-content: center;
}

.tb-conclude{
    font-size: 14px;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    background-color: #20EB48;
    border-style: solid;
    border-width: 1px; 
    justify-content: center;
}

/*  Oportunidades / Status */
.tb-won{
    font-size: 14px;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    background-color: #97F80C;
    border-style: solid;
    border-width: 1px; 
    justify-content: center;
}

.tb-lost{
    font-size: 14px;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    background-color: #EF5362;
    border-style: solid;
    border-width: 1px; 
    justify-content: center;
}


.button-round {
    /* Ellipse 1 */

    width: 28px;
    height: 28px;
    background: #A497C2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: solid;
    border-width: 1px;
    border-color: #c28dbf;
    padding: 2.5px 2.5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 100%;
    color: white;
    transition-duration: 0.4s;
    margin: 2px;
}

.button-round:hover {
    background-color: #6357A1;
    border-color: #6357A1;
    color: white;
}

.profile-picture-small {
    border-style: solid;
    border-width: 3px;
    border-color: #c28dbf;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    text-align: center;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
}

.product-image-small {
    height: 80px;
    width: 80px;
    position: relative;
    overflow: hidden;
    text-align: center;
    margin: 5px;
    margin-left: auto;
    margin-right: auto;
}

/*PAGINATE*/ 
.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: 0.25rem;
}

.page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #874983;
    background-color: white;
    border: 1px solid #dee2e6;
}

.page-link:hover {
    z-index: 2;
    color: white;
    text-decoration: none;
    background-color: #874983;
    border-color: #dee2e6;
}

.page-link:focus {
    z-index: 3;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(52, 144, 220, 0.25);
}

.page-item:first-child .page-link {
    margin-left: 0;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.page-item:last-child .page-link {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #874983;
    border-color: #c28dbf;
}

.page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    cursor: auto;
    background-color: #fff;
    border-color: #dee2e6;
}

.pagination-lg .page-link {
    padding: 0.75rem 1.5rem;
    font-size: 1.125rem;
    line-height: 1.5;
}

.pagination-lg .page-item:first-child .page-link {
    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
}

.pagination-lg .page-item:last-child .page-link {
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
}

.pagination-sm .page-link {
    padding: 0.25rem 0.5rem;
    font-size: 0.7875rem;
    line-height: 1.5;
}

.pagination-sm .page-item:first-child .page-link {
    border-top-left-radius: 0.2rem;
    border-bottom-left-radius: 0.2rem;
}

.pagination-sm .page-item:last-child .page-link {
    border-top-right-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
}

/*COLORS*/

.aproved{
    color: grey;
}

.paid{
    color: #10daa7;
}

.partial{
    color: #F2E28C;
}

.late-paid{
    color: red;
}


/*SHORTCUTS*/
.shortcut {
    font-size: 28px;
    text-shadow: 2px 2px 4px #000000;
    text-align: center;
    color: white;
    background-color: #D8C2DB;
    padding-top: 10px;
    padding-bottom: 3%;
    border-color: white;
    border-style: solid;
    border-width: 5px;
}

.shortcut:hover {
        background-color: #D8C2DB;
}

.shortcut a {
    color: white;
    font-size: 22px;
}
.shortcut a:hover {
    color: white;
    font-size: 22px;
}

.shortcut h2 {
    font-size: 30px;
    font-weight: 600;
}

.shortcut h3 {
    font-size: 18px;
}

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27 de nov. de 2020, 10:55:46
    Author     : cobra
*/
.h5{
    font-weight: bolder;
}

.show-name {
    text-align: center;
    font-size: 18px;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    vertical-align:middle;
    background-color: #c28dbf;
    border-style: solid;
    border-radius:30px;
    border-width: 1px; 
    border-color: white;
    padding:5px;
}

/*status*/ 

.canceled{
    text-align: center;
    font-size: 18px;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    vertical-align:middle;
    background-color: #E5E5E5;
    border-style: solid;
    border-radius:10px;
    border-width: 1px; 
    border-color: white;
    padding:5px;
}

.doing{
    text-align: center;
    font-size: 18px;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    vertical-align:middle;
    background-color: #92C4D4;
    border-style: solid;
    border-radius:10px;
    border-width: 1px; 
    border-color: white;
    padding:5px;
}

.done{
    text-align: center;
    font-size: 18px;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    vertical-align:middle;
    background-color: #A5D9CC;
    border-style: solid;
    border-radius:10px;
    border-width: 1px; 
    border-color: white;
    padding:5px;
}

.stuck{
    text-align: center;
    font-size: 18px;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    vertical-align:middle;
    background-color: #F7AFB4;
    border-style: solid;
    border-radius:10px;
    border-width: 1px; 
    border-color: white;
    padding:5px;
}

.to-do{
    text-align: center;
    font-size: 18px;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    vertical-align:middle;
    background-color: #F2E28C;
    border-style: solid;
    border-radius:10px;
    border-width: 1px; 
    border-color: white;
    padding:5px;
}

/*priority*/

.emergency{
    text-align: center;
    font-size: 18px;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    vertical-align:middle;
    background-color: #392F6D;
    border-style: solid;
    border-radius:10px;
    border-width: 1px; 
    border-color: white;
    padding:5px;
}

.high{
    text-align: center;
    font-size: 18px;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    background-color: #6357A1;
    border-style: solid;
    border-radius:10px;
    border-width: 1px; 
    border-color: white;
    padding:5px;
}

.low{
    text-align: center;
    font-size: 18px;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    vertical-align:middle;
    background-color: #B9A4D0;
    border-style: solid;
    border-radius:10px;
    border-width: 1px; 
    border-color: white;
    padding:5px;
}

.medium{
    text-align: center;
    font-size: 18px;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    vertical-align:middle;
    background-color: #9A8ABF;
    border-style: solid;
    border-radius:10px;
    border-width: 1px; 
    border-color: white;
    padding:5px;
}

/*  Oportunidades / Stage */

.show-stage{
    text-align: center;
    font-size: 18px;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    border-style: solid;
    border-width: 1px; 
    border-color: white;
}

.prospecting{
    padding:5px;
    border-radius:30px;
    background-color: #8B2485;
}

.presentation{
    padding:5px;
    border-radius:30px;
    background-color: #957799;
}

.proposal{
    padding:5px;
    border-radius:30px;
    background-color: #EDB4F4;
}

.contract{
    padding:5px;
    border-radius:30px;
    background-color: #92C4D4;
}

.bill{
    padding:5px;
    border-radius:30px;
    background-color: #F7AFB4;
}

.production{
    padding:5px;
    border-radius:30px;
    background-color: #09FBBE;
}

.conclude{
    padding:5px;
    border-radius:30px;
    background-color: #20EB48;
}

/*Opportunity status*/

.dealing{
    padding:5px;
    border-radius:30px;
    background-color: #EDD500;
}

.won{
    padding:5px;
    border-radius:30px;
    background-color: #97F80C;
}

.lost{
    padding:5px;
    border-radius:30px;
    background-color: #EF5362;
}

/*dates*/

.circle-date-start{
    text-align: center;
    font-size: 17px;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    vertical-align:middle;
    background-color: #b800ae;
    border-style: solid;
    border-radius:50%;
    border-width: 1px; 
    border-color: white;
    padding:30px 5px;
    height: 100px;
    width: 110px;
    margin-left: auto;
    margin-right: auto;
}

.circle-date-due{
    text-align: center;
    font-size: 17px;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    vertical-align:middle;
    background-color: #49d194;
    border-style: solid;
    border-radius:50%;
    border-width: 1px; 
    border-color: white;
    padding:30px 5px;
    height: 100px;
    width: 110px;
    margin-left: auto;
    margin-right: auto;
}

.circle-date-conclusion{
    text-align: center;
    font-size: 17px;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    vertical-align:middle;
    background-color: #e25bff;
    border-style: solid;
    border-radius:50%;
    border-width: 1px; 
    border-color: white;
    padding:30px 5px;
    height: 100px;
    width: 110px;
    margin-left: auto;
    margin-right: auto;
}

.late{
    text-align: center;
    font-size: 18px;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    vertical-align:middle;
    background-color: #FDA15E;
    border-style: solid;
    border-radius:10px;
    border-width: 1px; 
    border-color: white;
    padding:5px;
}
.show-label {
    font-family: helvetica;
    color: white;
    background-color: #c28dbf;
    margin-top: 3px;
    margin-bottom: 5px;
    margin-right: 0px;
    margin-left: 0px;
    padding-top: 7px;
    padding-bottom: 4px;
    padding-left: 10px;
    font-weight:600;
    text-align:left;
    font-size:16px;
    border-radius:7px 0px 0px 7px;
    border-style: solid;
    border-color: #c28dbf;
    border-width: 0.5px;
}

.show-label-large {
    font-family: helvetica;
    color: white;
    background-color: #c28dbf;
    margin-top: 3px;
    margin-bottom: 5px;
    margin-right: 0px;
    margin-left: 0px;
    padding-top: 7px;
    padding-bottom: 4px;
    padding-left: 10px;
    font-weight:600;
    text-align:left;
    font-size:16px;
    border-radius:7px 7px 0px 0px;
}

.show-field-start {
    font-family: helvetica;
    color: #874983;
    background-color: #EEEEEE;
    margin-top: 3px;
    margin-bottom: 5px;
    margin-left: -30px;
    margin-right: 0px;
    padding-top: 7px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight:normal;
    text-align:left;
    font-size:16px;
    border-style: solid;
    border-color: #c28dbf;
    border-width: 0.5px;
}

.show-field-end {
    font-family: helvetica;
    color: #874983;
    background-color: #EEEEEE;
    margin-top: 3px;
    margin-bottom: 5px;
    margin-left: -30px;
    margin-right: 0px;
    padding-top: 7px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight:normal;
    text-align:left;
    font-size:16px;
    border-radius:0px 7px 7px 0px;
    border-style: solid;
    border-color: #c28dbf;
    border-width: 0.5px;
}

.show-field-end:hover {
    background-color: #efe0ee;
}

.description-field {
    font-family: helvetica;
    color: #874983;
    background-color: #EEEEEE;
    margin-top: -10px;
    margin-bottom: 5px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 7px;
    padding-bottom: 4px;
    padding-left: 10px;
    font-weight:normal;
    text-align:left;
    font-size:16px;
    border-radius:0px 0px 7px 7px;
    border-style: solid;
    border-color: #c28dbf;
    border-width: 0.5px;
}

.table-show{ 
    font-family: helvetica;
    color: #874983;
    background-color: #EEEEEE;
    margin-top: -5px;
    margin-bottom: 5px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 7px;
    padding-bottom: 4px;
    padding-left: 10px;
    font-weight:normal;
    text-align:left;
    font-size:16px;
    border-radius:0px 0px 7px 7px;
    border-style: solid;
    border-color: #c28dbf;
    border-width: 0.5px;
}

.profile-picture {
    border-style: solid;
    border-width: 5px;
    border-color: #c28dbf;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    text-align: center;
    margin: 10px;
    margin-left: auto;
    margin-right: auto;
}

.product-image {
    border-style: solid;
    border-width: 2px;
    border-color: #c28dbf;
    border-radius: 5px;
    height: 300px;
    width: 300px;
    position: relative;
    overflow: hidden;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.image-show {
    border-style: solid;
    border-width: 2px;
    border-color: #c28dbf;
    border-radius: 5px;
    height: 300px;
    width: 500px;
    position: relative;
    overflow: hidden;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28 de mai de 2020, 15:20:03
    Author     : empresadigital
*/

/*NOVO*/

html,body{
    height:100%;
}

a:hover {
    color: #F905E9;
    text-decoration: none;
}

a {
    color: #874983;
    text-decoration: none;
}

h5{
    color: #874983;
    font-weight: 700;
}

.bg-primary {
    background-color: #874983 !important;
}

.bg-secondary {
    background-color: #c28dbf !important;
}

.link-light:focus, .link-light:hover {
    color: #874983;
}

.nav-link {
    display: block;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: .3rem;
    padding-bottom: .5rem;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.sidebar-item {
    color:white;
    background-color: #c28dbf;
    list-style-type: none;
    padding-top: 6px;
    padding-bottom:  6px; 
    font-size: 16px;
    border: none;
    width: 100%;
    text-align: left;
}
.sidebar-item:hover{
    color:#874983;
    background-color: white;
    text-decoration: none;
}

.sidebar-subitem {
    color:white;
    background-color: #874983;
    list-style-type: none;
    padding-top: 6px;
    padding-bottom:  6px; 
    font-size: 16px;
    border: none;
    width: 100%;
    text-align: left;
        text-decoration: none;
}

.sidebar-subitem:hover{
    color:#874983;
    background-color: white;
    text-decoration: none;
}

/* ------------------------------------------------ GERAL -------------------------- */
.grid-container {
    display: grid;
    background-color: #c28dbf;
    height: 100%;
    grid-template-columns: 16% 21% 21% 21% 21%;
    grid-template-areas: 
        "sidebar header header header header"
        "sidebar main main main main"
        "sidebar main main main main";
}

.sidebar {
    grid-area: sidebar;
    background-color: #c28dbf;
    padding-top: 5vh;
    padding-left: 10px;
    height: 100%;
    width: 16%;
    position: absolute;
}

.header{
    grid-area: header;
    background-color: white;
    color: #874983;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
    font-weight:700;
    text-align:left;
    font-size:36px;
    line-height: 1;
}

.image-header{
    grid-area: image-header;
    margin:0px;
    background-color: #874983;
    text-align: left;
    padding-top: 5%;
    padding-left: 8%;
}

.main{
    grid-area: main;
    margin:0px;
    background-color: white;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
}

/* ------------------------------------------------ GRID DASHBOARD -------------------------- */
/*.grid-dashboard {
    display: grid;
    height: auto;
    text-align: left;
    margin-top: 2%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
        "facebook instagram linkedin"
        "twitter pinterest youtube"
        "spotify spotify spotify";
    gap: 5% 2%;
}

.facebook {
    grid-area: facebook;
    color: white;
    background-color: #3b5998;
    padding: 4%;
    border-radius: 20px;
}

.instagram {
    grid-area: instagram;
    color: white;
    background-color: #c32aa3;
    padding: 4%;
    border-radius: 20px;
}

.linkedin {
    grid-area: linkedin;
    color: white;
    background-color: #007bb5;
    padding: 4%;
    border-radius: 20px;
}

.twitter {
    grid-area: twitter;
    color: white;
    background-color: #1da1f2;
    padding: 4%;
    border-radius: 20px;
}

.pinterest {
    grid-area: pinterest;
    color: white;
    background-color:  #c8232c;
    padding: 4%;
    border-radius: 20px;
}

.youtube {
    grid-area: youtube;
    color: white;
    background-color: #c4302b;
    padding: 4%;
    border-radius: 20px;
}

.spotify {
    grid-area: spotify;
    color: white;
    background-color: #1DB954;
    padding: 4%;
    border-radius: 20px;
}

.grid-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}*/


/* ------------------------------------------------ GRID INICIO -------------------------- */
.grid-start {
    display: grid;
    height: auto;
    text-align: left;
    margin-top: 2%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
        "tasks-now tasks-pending tasks-my hours";
    gap: 5% 2%;
}

/*.tasks-now{
        grid-area: tasks-now;
        color: white;
        background-color: #4aa0e6;
        padding: 4%;
        border-radius: 20px;
}*/

.tasks-pending {
    grid-area: tasks-pending;
    color: white;
    background-color: #ffe924;
    padding: 4%;
    border-radius: 20px;
}

/*.tasks-my {
        grid-area: tasks-my;
        color: white;
        background-color: #c28dbf;
        padding: 4%;
        border-radius: 20px;
}*/

.hours {
    grid-area: hours;
    color: white;
    background-color: #874983;
    padding: 4%;
    border-radius: 20px;
}

.destaque{
    margin-top:0px;
    background-color: white;
}


/* ------------------------------------------------ MENU -------------------------- */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 100%; /* 0 width - change this with JavaScript */
    position: relative; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 5%; /* Stay at the top */
    left: 0;
    background-color: #c28dbf; /* fundo*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    -webkit-box-shadow: 9px 0px 25px 0px rgba(50, 50, 50, 0.58);
    -moz-box-shadow:    9px 0px 25px 0px rgba(50, 50, 50, 0.58);
    box-shadow:         9px 0px 25px 0px rgba(50, 50, 50, 0.58);
}

/* The navigation menu links */
.sidenav a {
    padding: 6px 6px 6px 8px;
    text-decoration: none;
    font-size: 16px;
    color: white;
    display: block;
    transition: 0.3s;
    overflow: hidden;
}

.dropdown-btn {
    
    color: white;
    padding: 6px 6px 6px 8px;
    font-size: 16px;
    border: none;
    width: 100%;
    text-align: left;
    padding: 8px;
}

.sidenav ul li {
    padding: 2px 2px 2px 4px;
    font-size: 10px;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .dropdown-btn:hover {
    color: #874983;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: -6px;
    right: -7px;
    font-size: 26px;
    margin-left: 50px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 14px;}
}


/* Add an active class to the active dropdown button */
.active {
    background-color: #874983;
    color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
    display: none;
    padding-left: 8px;
    min-width: 170px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
    float: right;
    padding-right: 8px;
}

/* ------------------------------------------------ PRINCIPAL (MAIN) -------------------------- */

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 0px;
    margin-left: 200px;
    height: 100vh;
    display: block;
    background-color: red;
    z-index: 1;
}

.botao-ativar{
    color: white;
    padding-top: 4px;
    padding-bottom: 1px;
    padding-left: 3px;
    padding-right: 2px;
    background-color: #c28dbf;
    width:1.5vw;
    border-radius: 0px 8px 8px 0px;
    z-index: 9;
    float: left;
    position: fixed;
    -webkit-box-shadow: 9px 0px 25px 0px rgba(50, 50, 50, 0.58);
    -moz-box-shadow:    9px 0px 25px 0px rgba(50, 50, 50, 0.58);
    box-shadow:         9px 0px 25px 0px rgba(50, 50, 50, 0.58);

}

/* ------------------------------------------------ PÁGINAS (PAINEL) -------------------------- */

.secao-roxa{
    margin:0px;
    padding:0px;
    padding-top: 20px;
    border:none;
    height: auto;
    width:100%;
    clear: both;
    background-color: #874983;
}

.destaque_amarelo{
    text-align:center;
    color:#ff0;
    font-size:20px;
    font-weight:600;
    line-height: 0.7;
    padding-top: 15px;
}

.subtitulo-branco{
    text-align: center;
    color: white;
    font-weight:800;
    font-size:18px;
    margin: 0px;
    padding-top: 25px;
    padding-bottom: 0px;
}

.subtitulo-roxo{
    text-align: center;
    color: #874983;
    font-weight:800;
    font-size:18px;
    margin: 0px;
    padding-top: 15px;
    padding-bottom: 0px;
}

.titulo-roxo{
    color: #874983;
    margin-top: 10px;
    margin-bottom: 0px;
    font-weight:700;
    text-align:center;
    font-size:36px;
}

.titulo-branco{
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight:700;
    text-align:center;
    font-size:36px;
    line-height: 1;
}

.title-reports{
    color: #874983;
    margin-top: 10px;
    margin-bottom: 0px;
    font-weight:700;
    text-align:left;
    font-size:26px;
    border-bottom: 3px;
    border-color: #874983;
    border-bottom-style: solid;
    width: 100%;
}

.foto{
    margin:20px;
    padding:0;
    height:18%;
    width:60%;
    background-color:#fff;
    border-radius:500px;
    display:block;
    margin-left:auto;
    margin-right:auto
}

.center{
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:50%
}


.botao-claro{
    background: #c28dbf;
    border-radius: 9px;
    padding: 8px;
    cursor: pointer;
    color: black;
    border-width: 2px;
    border-color: #c28dbf;
    font-size: 14px
}

.botao-roxo{
    background: #874983;
    border-radius: 9px;
    padding: 8px;
    cursor: pointer;
    color: white;
    border-width: 2px;
    border-color: #c28dbf;
    font-size: 14px
}
/*NEW BUTTONS*/

.circular-button {
    border-color: #49d194;
    padding-top: 5px;
    padding-left: 0px;
    font-size: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    margin: 5px;
    vertical-align: middle;
    text-decoration: none;
    text-align: center;
    transition: 0.3s;
    width: 38px;
    height: 38px;
    display:inline-block;
}

.circular-nav-button {
    border-color: #49d194;
    padding-top: 1px;
    padding-left: 0px;
    font-size: 14px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    margin: 5px;
    vertical-align: middle;
    text-decoration: none;
    text-align: center;
    transition: 0.3s;
    width: 24px;
    height: 24px;
    display:inline-block;
}

.text-button {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    font-weight: bolder;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin-left: 5px;
    margin-right: 5px;
    vertical-align: middle;
    text-decoration: none;
    text-align: center;
    transition: 0.3s;
    display:inline-block;
    width: 170px;
    
}

.primary {
    color: #874983;
    background-color: #49d194;
        border-color: #49d194;
}

.primary:hover {
    color: #874983;
    background-color: #39ea94;
    text-decoration: none;
}

.secondary {
    color: #874983;
    background-color: #d8c2db;
}

.secondary:hover {
    color: #874983;
    background-color: #f9d0ff;
    text-decoration: none;
}

.button-active {
    background-color: #c28dbf ;
    border: none;
    border-width: 1px;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 9px;
    transition-duration: 0.4s;
    width: 100%;
}

.button-active:hover {
    background-color: red;
    border-color: #c28dbf;
    color: white;
}

.button-warning {
    background-color: yellow ;
    border: none;
    border-width: 1px;
    color: black;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 9px;
    transition-duration: 0.4s;
    width: 100%;
}

.button-warning:hover {
    background-color: red;
    border-color: #c28dbf;
    color: white;
}

.button-disable {
    background-color:  #B8B8B8  ;
    border: none;
    border-width: 1px;
    color: black;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 9px;
    transition-duration: 0.4s;
    width: 100%;
}

.button-disable:hover {
    background-color: red;
    border-color: #c28dbf;
    color: white;
}
/* ------------------------------------------------ PÁGINAS LISTALL -------------------------- */

.table-list{ 
    width: 100%;
    text-align:center;
    display: table;
    color:#874983;
    font-size: 13px;
    border-bottom-style: solid;
    border-width: 2px;
    padding-top: 0%;
}

.table-list-center{ 
    background-color: #EEEEEE;
    display: table-cell;
    vertical-align:super;
    border-bottom: solid;
    border-width: 1px;
    font-size: 13px;
}

.table-list-center:hover{ 
background-color: #f9d0ff;
}

.table-list-right{ 
    background-color: #EEEEEE;
    display: table-cell;  
    padding:0.5%;
    text-align: right;
    vertical-align:super;
    border-bottom: solid;
    border-width: 1px;
    font-weight: bolder;
    font-size: 13px;
}
.table-list-right:hover{ 
background-color: #f9d0ff;
}
.table-list-left{ 
    background-color: #EEEEEE;
    display: table-cell;  
    padding:0.5%;
    text-align: justify;
    vertical-align:super;
    border-bottom: solid;
    border-width: 1px;
    font-weight: bolder;
    font-size: 13px;
}
.table-list-left:hover{ 
background-color: #f9d0ff;
}

.table-list-left ul{ 
    list-style-type : circle;
    list-style-position: outside;
}

.table-list-money-expense{ 
    display: table-cell;  
    padding:0.5%;
    text-align: right;
    vertical-align:super;
    border-bottom: solid;
    border-width: 1px;
    color: red;
}

.table-list-money-income{ 
    display: table-cell;  
    padding:0.5%;
    text-align: right;
    vertical-align:super;
    border-bottom: solid;
    border-width: 1px;
    color: blue;
}

.table-list-header{ 
    border: solid;
    border-width: 1px;
    border-color: #874983;
    display: table-cell;  
    font-size: 13px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    color: white;
    vertical-align:middle;
    background-color: #c28dbf
}

.table-list-header-right{ 
    display: table-cell;  
    text-align: right;
    color: white;
    vertical-align:super;
    background-color: #c28dbf
}

/* ------------------------------------------------ PÁGINAS DETAILS -------------------------- */

.name{
    font-family: helvetica;
    font-weight:bolder;
    color: #874983;
    margin-top: 0px;
    margin-bottom: 5px;
    font-weight:bolder;
    text-align:left;
    font-size:28px;
}

.labels{
    font-family: helvetica;
    color: #874983;
    margin-top: 3px;
    margin-bottom: 5px;
    font-weight:bolder;
    text-align:left;
    font-size:16px;
}

.fields{
    color: #874983;
    margin-top: 3px;
    margin-left: 5px;
    margin-bottom: 5px;
    font-weight:400;
    text-align:left;
    font-size:16px;
}

.select{
    font-size:14px;
}

.button-round:hover {
    text-decoration: none;
    background-color: #6357A1;
    border-color: #6357A1;
    color: white;
}

.delete {
    color: #874983;
    background-color: #FDDBDD;
}

.delete:hover{
    background-color: #DF4650;
    color: white;
    text-decoration: none;
}

.restore {
    color: #874983;
    background-color: #97F80C;
}

.restore:hover{
    background-color: #09FBBE;
    color: #874983;
    text-decoration: none;
}