/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 24 de nov. de 2020, 17:54:57
    Author     : nathalia
*/


table{ 
    width: 100%;
    text-align:center;
    display: table;
    color:#874983;
    font-size: 14px;
    border-bottom-style: solid;
    border-width: 2px;
    padding-top: 5%;
}

.table-center{ 
    display: table-cell;
    vertical-align:super;
    border-bottom: solid;
    border-width: 1px;
}

.table-right{ 
    display: table-cell;  
    padding:0.5%;
    text-align: right;
    vertical-align:super;
    border-bottom: solid;
    border-width: 1px;
    font-weight: bolder;
}
.table-left{ 
    display: table-cell;  
    padding:0.5%;
    text-align: justify;
    vertical-align:super;
    border-bottom: solid;
    border-width: 1px;
    font-weight: bolder;
}

.table-left ul{ 
    list-style-type : circle;
    list-style-position: outside;
}

.table-money-expense{ 
    display: table-cell;  
    padding:0.5%;
    text-align: right;
    vertical-align:super;
    border-bottom: solid;
    border-width: 1px;
    color: red;
}

.table-money-income{ 
    display: table-cell;  
    padding:0.5%;
    text-align: right;
    vertical-align:super;
    border-bottom: solid;
    border-width: 1px;
    color: blue;
}

.table-header{ 
    display: table-cell;  
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    color: white;
    vertical-align:super;
    background-color: #c28dbf
}

/*nova tabela com DIVS e bootstrap*/
.table2 { 
    margin-top: 16px;
    margin-bottom: 16px;
    font-size:14px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.table2:hover{ 
    background-color: #f9d0ff;
}

.table-header { 
    font-size:14px;
    padding: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    color:white;
    font-weight: 600;
    
}

.cel { 
    padding: 10px;
    font-size:14px;
    border-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cel:hover{ 
    background-color: #f9d0ff;
}

.tb { 
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 4px;
    padding-bottom: 4px;
    color: #874983;
    font-size:14px;
    border-color: rgba(135, 73, 131,0.50);
    border-style: solid;
    border-width: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tb:hover{ 
    background-color: #f9d0ff;
}

.tb-description { 
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 4px;
    padding-bottom: 4px;
    color: #874983;
    font-size:14px;
    border-color: rgba(135, 73, 131,0.50);
    border-style: solid;
    border-width: 1px;
    text-align: left;
}

.tb-description:hover{ 
    background-color: #f9d0ff;
}

.tb-row { 
    padding-left: 20px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #874983;
    font-size:14px;
    border-left-color: rgba(135, 73, 131,0.50);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgba(135, 73, 131,0.50);
    border-right-style: solid;
    border-right-width: 1px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/*STATUS*/
.td-aproved{
    background-color: #C3FEEF;
}

.tb-canceled{
    background-color: #E5E5E5;
}

.tb-footer{ 
    color: white;
    background-color: #c28dbf;
    font-size:15px;
    border-color: #874983;
    border-style: solid;
    border-width: 1px;
    border-radius: 0 0 8px 8px;
    min-height: 15px;
}

.tb-header{ 
    color: white;
    text-align: center;
    background-color: #c28dbf;
    font-size:14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tb-header-start{ 
    color: white;
    text-align: center;
    background-color: #c28dbf;
    font-size:15px;
    border-radius: 8px 8px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tb-header-end { 
    color: white;
    text-align: center;
    background-color: #c28dbf;
    font-size:15px;
    border-radius: 0 8px 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-header-right{ 
    display: table-cell;  
    text-align: right;
    color: white;
    vertical-align:super;
    background-color: #c28dbf
}

td {
    display: table-cell;  
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    font-weight:  900;
    vertical-align:super;
}

/*  PRIORITIES */

.tb-low {
    font-size: 14px;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    background-color:#B9A4D0;
    border-style: solid;
    border-width: 1px; 
    justify-content: center;
}


.tb-medium{
    font-size: 14px;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    background-color: #9A8ABF;
    border-style: solid;
    border-width: 1px; 
    justify-content: center;
}

.tb-high{
    font-size: 14px;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    background-color: #6357A1;
    border-style: solid;
    border-width: 1px; 
    justify-content: center;
}

.td-contract{
    display: table-cell;  
    font-size: 14px;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    vertical-align:super;
    background-color: #92C4D4;
    border-style: solid;
    border-width: 1px; 
    border-color: white;
}

.td-bill{
    display: table-cell;  
    font-size: 14px;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    vertical-align:super;
    background-color: #F7AFB4;
    border-style: solid;
    border-width: 1px; 
    border-color: white;
}

.tb-done{
    font-size: 14px;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    background-color: #A5D9CC;
    border-style: solid;
    border-width: 1px; 
    justify-content: center;
}
.td-disabled{
    display: table-cell;  
    font-size: 14px;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    vertical-align:super;
    background-color: #f494aa;
    border-style: solid;
    border-width: 1px; 
    border-color: white;
}
.tb-doing{
    font-size: 14px;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    background-color: #92C4D4;
    border-style: solid;
    border-width: 1px; 
    justify-content: center;
}

.tb-emergency{
    font-size: 14px;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    background-color: #392F6D;
    border-style: solid;
    border-width: 1px; 
    justify-content: center;
}

.tb-toDo{
    font-size: 14px;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    background-color: #F2E28C;
    border-style: solid;
    border-width: 1px; 
    justify-content: center;
}

.td-production{
    display: table-cell;  
    font-size: 14px;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    vertical-align:super;
    background-color: #09FBBE;
    border-style: solid;
    border-width: 1px; 
    border-color: white;
}

.tb-stuck{
    font-size: 14px;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    background-color: #F7AFB4;
    border-style: solid;
    border-width: 1px; 
    justify-content: center;
}

.tb-canceled{
    font-size: 14px;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    background-color: #E5E5E5;
    border-style: solid;
    border-width: 1px; 
    justify-content: center;
}

.td-conclude{
    display: table-cell;  
    font-size: 14px;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    vertical-align:super;
    background-color: #20EB48;
    border-style: solid;
    border-width: 1px; 
    border-color: white;
}

.tb-late{
    color: white;
    text-shadow: 2px 2px 4px #000000;
    background-color: #FDA15E;
}

/*-------FATURAS-----*/
.tb-draft{
    background-color: #F9D0FF;
}

.tb-aproved{
    background-color: #C3FEEF;
}

.tb-overdue{
    background-color: #09FBBE;
}

.tb-paid{
    background-color: #09FBBE;
}

.td-paid-partial{
    display: table-cell;  
    font-size: 14px;
    color: black;
    vertical-align:super;
    background-color: #b3d7f2;
    border-style: solid;
    border-width: 1px; 
    border-color: white;
}

.tb-pending{
    background-color: #E5E5E5;
}


/*  Oportunidades / Stage */

.tb-prospecting{
    font-size: 14px;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    background-color: #8B2485;
    border-style: solid;
    border-width: 1px; 
    justify-content: center;
}

.tb-presentation{
    font-size: 14px;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    background-color: #957799;
    border-style: solid;
    border-width: 1px; 
    justify-content: center;
}

.tb-proposal{
    font-size: 14px;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    background-color: #EDB4F4;
    border-style: solid;
    border-width: 1px; 
    justify-content: center;
}
.td-published{
    background-color: #49d194;
}

.tb-dealing{
    font-size: 14px;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    background-color: #EDD500;
    border-style: solid;
    border-width: 1px; 
    justify-content: center;
}

.tb-bill{
    font-size: 14px;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    background-color: #F7AFB4;
    border-style: solid;
    border-width: 1px; 
    justify-content: center;
}

.tb-contract{
    font-size: 14px;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    background-color: #92C4D4;
    border-style: solid;
    border-width: 1px; 
    justify-content: center;
}

.tb-production{
    font-size: 14px;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    background-color: #09FBBE;
    border-style: solid;
    border-width: 1px; 
    justify-content: center;
}

.tb-conclude{
    font-size: 14px;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    background-color: #20EB48;
    border-style: solid;
    border-width: 1px; 
    justify-content: center;
}

/*  Oportunidades / Status */
.tb-won{
    font-size: 14px;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    background-color: #97F80C;
    border-style: solid;
    border-width: 1px; 
    justify-content: center;
}

.tb-lost{
    font-size: 14px;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    background-color: #EF5362;
    border-style: solid;
    border-width: 1px; 
    justify-content: center;
}


.button-round {
    /* Ellipse 1 */

    width: 28px;
    height: 28px;
    background: #A497C2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: solid;
    border-width: 1px;
    border-color: #c28dbf;
    padding: 2.5px 2.5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 100%;
    color: white;
    transition-duration: 0.4s;
    margin: 2px;
}

.button-round:hover {
    background-color: #6357A1;
    border-color: #6357A1;
    color: white;
}

.profile-picture-small {
    border-style: solid;
    border-width: 3px;
    border-color: #c28dbf;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
       white-space: nowrap;
}

.product-image-small {
    height: 80px;
    width: 80px;
    position: relative;
    overflow: hidden;
    text-align: center;
    margin: 5px;
    margin-left: auto;
    margin-right: auto;
}

/*PAGINATE*/ 
.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: 0.25rem;
}

.page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #874983;
    background-color: white;
    border: 1px solid #dee2e6;
}

.page-link:hover {
    z-index: 2;
    color: white;
    text-decoration: none;
    background-color: #874983;
    border-color: #dee2e6;
}

.page-link:focus {
    z-index: 3;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(52, 144, 220, 0.25);
}

.page-item:first-child .page-link {
    margin-left: 0;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.page-item:last-child .page-link {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #874983;
    border-color: #c28dbf;
}

.page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    cursor: auto;
    background-color: #fff;
    border-color: #dee2e6;
}

.pagination-lg .page-link {
    padding: 0.75rem 1.5rem;
    font-size: 1.125rem;
    line-height: 1.5;
}

.pagination-lg .page-item:first-child .page-link {
    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
}

.pagination-lg .page-item:last-child .page-link {
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
}

.pagination-sm .page-link {
    padding: 0.25rem 0.5rem;
    font-size: 0.7875rem;
    line-height: 1.5;
}

.pagination-sm .page-item:first-child .page-link {
    border-top-left-radius: 0.2rem;
    border-bottom-left-radius: 0.2rem;
}

.pagination-sm .page-item:last-child .page-link {
    border-top-right-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
}

/*COLORS*/

.aproved{
    color: grey;
}

.paid{
    color: #10daa7;
}

.partial{
    color: #F2E28C;
}

.late-paid{
    color: red;
}

.draft-paid{
    color: grey;
}


/*SHORTCUTS*/
.shortcut {
    font-size: 28px;
    text-shadow: 2px 2px 4px #000000;
    text-align: center;
    color: white;
    background-color: #D8C2DB;
    padding-top: 10px;
    padding-bottom: 3%;
    border-color: white;
    border-style: solid;
    border-width: 5px;
}

.shortcut:hover {
        background-color: #D8C2DB;
}

.shortcut a {
    color: white;
    font-size: 22px;
}
.shortcut a:hover {
    color: white;
    font-size: 22px;
}

.shortcut h2 {
    font-size: 30px;
    font-weight: 600;
}

.shortcut h3 {
    font-size: 18px;
}
