/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12 de nov. de 2020, 00:26:32
    Author     : cobra
*/
* {
    font-family: Nunito, helvetica, sans-serif;
}

@page { margin: 120px 50px; }
header {
    position: fixed;
    top: -90px;
    left: 0px;
    right: 0px;
    color: white;
    height: 55px;
    padding: 5px 20px;
    font-size: 12px;
    border-radius: 50%;
}
footer {
    position: fixed;
    bottom: -90px;
    left: 0px;
    right: 0px;
    color: white;
    height: 35px;
    font-size: 12px;
    padding: 3px;
    text-align: center;
    border-radius: 50%;
    line-height: 16px;
}

.body{
    padding: 0;
}

.container-pdf {
    background-color: #c28dbf;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.logo{
    background-color:#874983;
    border: 0px;
    width: 165px;
    height: 75px;
    padding: 10px;
    padding-top: 15px;
}

.account{
    color:white;
    background-color:#874983;
    border: 0px;
    width: 350px;
    height: 80px;
    padding:10px;
    font-size: 12px;
}

.image-header{
    color:white;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    background-color:#c28dbf;
    border: 0px;
    width: 130px;
    height: 85px;
    padding: 10px;
    padding-top: 5px;
}

.header{
    grid-area: header;
    color: white;
    margin-top: -80px;
    margin-left: -50px;
    margin-right: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: right;
    font-weight:700;
    font-size:24px;
    background-color:#874983;
    width: 115%;
    height: 90px;
}

.main{
    grid-area: main;
    margin:0px;
    background-color: white;
    padding-top: 1%;
    padding-left: 2%;
    padding-right: 2%;
}

p{
    font-size: 16px;
    color:black;
}

h2{
    font-size: 28px;
    color:#874983;
}

h3{
    font-size: 20px;
    color:#874983;
}

h4{
    font-size: 14px;
    color:#874983;
}

.table-list{ 
    border-collapse: collapse;
    width: 100%;
    text-align:center;
    display: table;
    color:#874983;
    font-size: 12px;
    border-bottom-style: solid;
    border-width: 2px;
    padding-top: 1%;
}

.table-list-center{ 
    display: table-cell;
    padding:0.5%;
    vertical-align:super;
    border-bottom: solid;
    border-width: 1px;
    font-size: 12px;
}

.table-list-right{ 
    display: table-cell;  
    padding:0.5%;
    text-align: right;
    vertical-align:super;
    border-bottom: solid;
    border-width: 1px;
    font-size: 12px;
}
.table-list-left{ 
    display: table-cell;  
    padding:0.5%;
    text-align: justify;
    vertical-align:super;
    border-bottom: solid;
    border-width: 1px;
    font-size: 12px;
}

.table-list-left ul{ 
    list-style-type : circle;
    list-style-position: outside;
}

.table-list-money-expense{ 
    display: table-cell;  
    padding:0.5%;
    text-align: right;
    vertical-align:super;
    border-bottom: solid;
    border-width: 1px;
    color: red;
}

.table-list-money-income{ 
    display: table-cell;  
    padding:0.5%;
    text-align: right;
    vertical-align:super;
    border-bottom: solid;
    border-width: 1px;
    color: blue;
}

.table-list-header{ 
    display: table-cell;  
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px;
    border: 5px;
    border-color: #c28dbf;
    text-align: center;
    color: white;
    vertical-align:super;
    background-color: #c28dbf
}

.table-list-header-right{ 
    display: table-cell;  
    text-align: right;
    border: 0px;
    border-style: none;
    border-color: #c28dbf;
    color: white;
    vertical-align:super;
    background-color: #c28dbf
}

.title-reports {
    color: #874983;
    margin-top: 10px;
    margin-bottom: 0;
    font-weight: 700;
    text-align: left;
    font-size: 26px;
    border-bottom: 3px;
        border-bottom-color: currentcolor;
        border-bottom-style: none;
    border-color: #874983;
    border-bottom-style: solid;
    width: 100%;
}

.labels {
    color: #874983;
    margin-top: 3px;
    margin-bottom: 5px;
    font-weight: bolder;
    text-align: left;
    font-size: 16px;
}

.break{
    page-break-after: always;
}

.facebook {
    color: white;
    background-color: #3b5998;
    padding: 2%;
    border-radius: 20px;
}

.instagram {
    color: white;
    background-color: #c32aa3;
    padding: 2%;
    border-radius: 20px;
}

.linkedin {
    color: white;
    background-color: #007bb5;
    padding: 2%;
    border-radius: 20px;
}

.twitter {
    color: white;
    background-color: #1da1f2;
    padding: 2%;
    border-radius: 20px;
}

.pinterest {
    color: white;
    background-color:  #c8232c;
    padding: 2%;
    border-radius: 20px;
}

.youtube {
    color: white;
    background-color: #c4302b;
    padding: 2%;
    border-radius: 20px;
}

.spotify {
    color: white;
    background-color: #1DB954;
    padding: 2%;
    border-radius: 20px;
}

.competitor {
    color: white;
    background-color: #874983;
    padding: 2%;
    border-radius: 20px;
}
.description {
    color:black;
    font-size: 12px;
    padding:8px;
    padding-left:30px;
    margin-top: 0px;
    margin-bottom: 5px;
    margin-left: 40px;
    margin-right: 10px;
    border-radius:20px;
    border-style: solid;
    border-color: black;
    border-bottom: 1px;
    font-style: italic;
}
.right {
    text-align: right;
}
.left {
    text-align: left;
}
.center {
    text-align: center;
}

/*BOOTSTRAP CLONE*/

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(var(--bs-gutter-y) * -1);
    margin-right: calc(var(--bs-gutter-x)/ -2);
    margin-left: calc(var(--bs-gutter-x)/ -2);
}
*, ::after, ::before {
    box-sizing: border-box;
}