/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27 de nov. de 2020, 10:55:46
    Author     : cobra
*/

.show-name {
    text-align: center;
    font-size: 18px;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    vertical-align:middle;
    background-color: #c28dbf;
    border-style: solid;
    border-radius:10px;
    border-width: 1px; 
    border-color: white;
    padding:5px;
}

/*status*/ 

.canceled{
    text-align: center;
    font-size: 18px;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    vertical-align:middle;
    background-color: #E5E5E5;
    border-style: solid;
    border-radius:10px;
    border-width: 1px; 
    border-color: white;
    padding:5px;
}

.doing{
    text-align: center;
    font-size: 18px;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    vertical-align:middle;
    background-color: #92C4D4;
    border-style: solid;
    border-radius:10px;
    border-width: 1px; 
    border-color: white;
    padding:5px;
}

.done{
    text-align: center;
    font-size: 18px;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    vertical-align:middle;
    background-color: #A5D9CC;
    border-style: solid;
    border-radius:10px;
    border-width: 1px; 
    border-color: white;
    padding:5px;
}

.stuck{
    text-align: center;
    font-size: 18px;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    vertical-align:middle;
    background-color: #F7AFB4;
    border-style: solid;
    border-radius:10px;
    border-width: 1px; 
    border-color: white;
    padding:5px;
}

.to-do{
    text-align: center;
    font-size: 18px;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    vertical-align:middle;
    background-color: #F2E28C;
    border-style: solid;
    border-radius:10px;
    border-width: 1px; 
    border-color: white;
    padding:5px;
}

/*priority*/

.emergency{
    text-align: center;
    font-size: 18px;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    vertical-align:middle;
    background-color: #392F6D;
    border-style: solid;
    border-radius:10px;
    border-width: 1px; 
    border-color: white;
    padding:5px;
}

.high{
    text-align: center;
    font-size: 18px;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    background-color: #6357A1;
    border-style: solid;
    border-radius:10px;
    border-width: 1px; 
    border-color: white;
    padding:5px;
}

.low{
    text-align: center;
    font-size: 18px;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    vertical-align:middle;
    background-color: #B9A4D0;
    border-style: solid;
    border-radius:10px;
    border-width: 1px; 
    border-color: white;
    padding:5px;
}

.medium{
    text-align: center;
    font-size: 18px;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    vertical-align:middle;
    background-color: #9A8ABF;
    border-style: solid;
    border-radius:10px;
    border-width: 1px; 
    border-color: white;
    padding:5px;
}

/*  Oportunidades / Stage */

.prospecting{
    text-align: center;
    font-size: 18px;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    vertical-align:middle;
    background-color: #8B2485;
    border-style: solid;
    border-radius:10px;
    border-width: 1px; 
    border-color: white;
    padding:5px;
}

.presentation{
    text-align: center;
    font-size: 18px;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    vertical-align:middle;
    background-color: #957799;
    border-style: solid;
    border-radius:10px;
    border-width: 1px; 
    border-color: white;
    padding:5px;
}

.proposal{
    text-align: center;
    font-size: 18px;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    vertical-align:middle;
    background-color: #EDB4F4;
    border-style: solid;
    border-radius:10px;
    border-width: 1px; 
    border-color: white;
    padding:5px;
}

.contract{
    text-align: center;
    font-size: 18px;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    vertical-align:middle;
    background-color: #92C4D4;
    border-style: solid;
    border-radius:10px;
    border-width: 1px; 
    border-color: white;
    padding:5px;
}

.bill{
    text-align: center;
    font-size: 18px;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    vertical-align:middle;
    background-color: #F7AFB4;
    border-style: solid;
    border-radius:10px;
    border-width: 1px; 
    border-color: white;
    padding:5px;
}

.production{
    text-align: center;
    font-size: 18px;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    vertical-align:middle;
    background-color: #09FBBE;
    border-style: solid;
    border-radius:10px;
    border-width: 1px; 
    border-color: white;
    padding:5px;
}

.conclude{
    text-align: center;
    font-size: 18px;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    vertical-align:middle;
    background-color: #20EB48;
    border-style: solid;
    border-radius:10px;
    border-width: 1px; 
    border-color: white;
    padding:5px;
}

/*Opportunity status*/

.dealing{
    text-align: center;
    font-size: 18px;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    vertical-align:middle;
    background-color: #EDD500;
    border-style: solid;
    border-radius:10px;
    border-width: 1px; 
    border-color: white;
    padding:5px;
}

.won{
    text-align: center;
    font-size: 18px;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    vertical-align:middle;
    background-color: #97F80C;
    border-style: solid;
    border-radius:10px;
    border-width: 1px; 
    border-color: white;
    padding:5px;
}

.lost{
    text-align: center;
    font-size: 18px;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    vertical-align:middle;
    background-color: #EF5362;
    border-style: solid;
    border-radius:10px;
    border-width: 1px; 
    border-color: white;
    padding:5px;
}

/*dates*/

.circle-date-start{
    text-align: center;
    font-size: 17px;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    vertical-align:middle;
    background-color: #b800ae;
    border-style: solid;
    border-radius:50%;
    border-width: 1px; 
    border-color: white;
    padding:30px 5px;
    height: 100px;
    width: 110px;
    margin-left: auto;
    margin-right: auto;
}

.circle-date-due{
    text-align: center;
    font-size: 17px;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    vertical-align:middle;
    background-color: #49d194;
    border-style: solid;
    border-radius:50%;
    border-width: 1px; 
    border-color: white;
    padding:30px 5px;
    height: 100px;
    width: 110px;
    margin-left: auto;
    margin-right: auto;
}

.circle-date-conclusion{
    text-align: center;
    font-size: 17px;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    vertical-align:middle;
    background-color: #e25bff;
    border-style: solid;
    border-radius:50%;
    border-width: 1px; 
    border-color: white;
    padding:30px 5px;
    height: 100px;
    width: 110px;
    margin-left: auto;
    margin-right: auto;
}

.late{
    text-align: center;
    font-size: 18px;
    text-shadow: 2px 2px 4px #000000;
    color: white;
    vertical-align:middle;
    background-color: #FDA15E;
    border-style: solid;
    border-radius:10px;
    border-width: 1px; 
    border-color: white;
    padding:5px;
}
.show-label {
    font-family: helvetica;
    color: white;
    background-color: #c28dbf;
    margin-top: 3px;
    margin-bottom: 5px;
    margin-right: 0px;
    margin-left: 0px;
    padding-top: 7px;
    padding-bottom: 4px;
    padding-left: 10px;
    font-weight:600;
    text-align:left;
    font-size:16px;
    border-radius:7px 0px 0px 7px;
    border-style: solid;
    border-color: #c28dbf;
    border-width: 0.5px;
}

.show-label-large {
    font-family: helvetica;
    color: white;
    background-color: #c28dbf;
    margin-top: 3px;
    margin-bottom: 5px;
    margin-right: 0px;
    margin-left: 0px;
    padding-top: 7px;
    padding-bottom: 4px;
    padding-left: 10px;
    font-weight:600;
    text-align:left;
    font-size:16px;
    border-radius:7px 7px 0px 0px;
}

.show-field-start {
    font-family: helvetica;
    color: #874983;
    background-color: #EEEEEE;
    margin-top: 3px;
    margin-bottom: 5px;
    margin-left: -30px;
    margin-right: 0px;
    padding-top: 7px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight:normal;
    text-align:left;
    font-size:16px;
    border-style: solid;
    border-color: #c28dbf;
    border-width: 0.5px;
}

.show-field-end {
    font-family: helvetica;
    color: #874983;
    background-color: #EEEEEE;
    margin-top: 3px;
    margin-bottom: 5px;
    margin-left: -30px;
    margin-right: 0px;
    padding-top: 7px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight:normal;
    text-align:left;
    font-size:16px;
    border-radius:0px 7px 7px 0px;
    border-style: solid;
    border-color: #c28dbf;
    border-width: 0.5px;
}

.description-field {
    font-family: helvetica;
    color: #874983;
    background-color: #EEEEEE;
    margin-top: -10px;
    margin-bottom: 5px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 7px;
    padding-bottom: 4px;
    padding-left: 10px;
    font-weight:normal;
    text-align:left;
    font-size:16px;
    border-radius:0px 0px 7px 7px;
    border-style: solid;
    border-color: #c28dbf;
    border-width: 0.5px;
}

.table-show{ 
    font-family: helvetica;
    color: #874983;
    background-color: #EEEEEE;
    margin-top: -5px;
    margin-bottom: 5px;
    margin-left: 0px;
    margin-right: 0px;
    padding-top: 7px;
    padding-bottom: 4px;
    padding-left: 10px;
    font-weight:normal;
    text-align:left;
    font-size:16px;
    border-radius:0px 0px 7px 7px;
    border-style: solid;
    border-color: #c28dbf;
    border-width: 0.5px;
}

.profile-picture {
    border-style: solid;
    border-width: 5px;
    border-color: #c28dbf;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    text-align: center;
    margin: 10px;
        margin-left: auto;
    margin-right: auto;
}

.product-image {
    border-style: solid;
    border-width: 2px;
    border-color: #c28dbf;
    border-radius: 5px;
    height: 300px;
    width: 300px;
    position: relative;
    overflow: hidden;
    text-align: center;
        margin-left: auto;
    margin-right: auto;
}

.image-show {
    border-style: solid;
    border-width: 2px;
    border-color: #c28dbf;
    border-radius: 5px;
    height: 300px;
    width: 500px;
    position: relative;
    overflow: hidden;
    text-align: center;
        margin-left: auto;
    margin-right: auto;
}