/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28 de mai de 2020, 15:20:03
    Author     : empresadigital
*/

/*NOVO*/

html,body{
    height:100%;
}

a:hover {
    color: #F905E9;
    text-decoration: none;
}

a {
    color: #874983;
    text-decoration: none;
}

h5{
    color: #874983;
    font-weight: 700;
}

.bg-primary {
    background-color: #874983 !important;
}

.bg-secondary {
    background-color: #c28dbf !important;
}

.link-light:focus, .link-light:hover {
    color: #874983;
}

.nav-link {
    display: block;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: .3rem;
    padding-bottom: .5rem;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.sidebar-item {
    color:white;
    background-color: #c28dbf;
    list-style-type: none;
    padding-top: 6px;
    padding-bottom:  6px; 
    font-size: 16px;
    border: none;
    width: 100%;
    text-align: left;
}
.sidebar-item:hover{
    color:#874983;
    background-color: white;
    text-decoration: none;
}

.sidebar-subitem {
    color:white;
    background-color: #874983;
    list-style-type: none;
    padding-top: 6px;
    padding-bottom:  6px; 
    font-size: 16px;
    border: none;
    width: 100%;
    text-align: left;
        text-decoration: none;
}

.sidebar-subitem:hover{
    color:#874983;
    background-color: white;
    text-decoration: none;
}

/* ------------------------------------------------ GERAL -------------------------- */
.grid-container {
    display: grid;
    background-color: #c28dbf;
    height: 100%;
    grid-template-columns: 16% 21% 21% 21% 21%;
    grid-template-areas: 
        "sidebar header header header header"
        "sidebar main main main main"
        "sidebar main main main main";
}

.sidebar {
    grid-area: sidebar;
    background-color: #c28dbf;
    padding-top: 5vh;
    padding-left: 10px;
    height: 100%;
    width: 16%;
    position: absolute;
}

.header{
    grid-area: header;
    background-color: white;
    color: #874983;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
    font-weight:700;
    text-align:left;
    font-size:36px;
    line-height: 1;
}

.image-header{
    grid-area: image-header;
    margin:0px;
    background-color: #874983;
    text-align: left;
    padding-top: 5%;
    padding-left: 8%;
}

.main{
    grid-area: main;
    margin:0px;
    background-color: white;
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
}

/* ------------------------------------------------ GRID DASHBOARD -------------------------- */
/*.grid-dashboard {
    display: grid;
    height: auto;
    text-align: left;
    margin-top: 2%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
        "facebook instagram linkedin"
        "twitter pinterest youtube"
        "spotify spotify spotify";
    gap: 5% 2%;
}

.facebook {
    grid-area: facebook;
    color: white;
    background-color: #3b5998;
    padding: 4%;
    border-radius: 20px;
}

.instagram {
    grid-area: instagram;
    color: white;
    background-color: #c32aa3;
    padding: 4%;
    border-radius: 20px;
}

.linkedin {
    grid-area: linkedin;
    color: white;
    background-color: #007bb5;
    padding: 4%;
    border-radius: 20px;
}

.twitter {
    grid-area: twitter;
    color: white;
    background-color: #1da1f2;
    padding: 4%;
    border-radius: 20px;
}

.pinterest {
    grid-area: pinterest;
    color: white;
    background-color:  #c8232c;
    padding: 4%;
    border-radius: 20px;
}

.youtube {
    grid-area: youtube;
    color: white;
    background-color: #c4302b;
    padding: 4%;
    border-radius: 20px;
}

.spotify {
    grid-area: spotify;
    color: white;
    background-color: #1DB954;
    padding: 4%;
    border-radius: 20px;
}

.grid-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}*/


/* ------------------------------------------------ GRID INICIO -------------------------- */
.grid-start {
    display: grid;
    height: auto;
    text-align: left;
    margin-top: 2%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
        "tasks-now tasks-pending tasks-my hours";
    gap: 5% 2%;
}

/*.tasks-now{
        grid-area: tasks-now;
        color: white;
        background-color: #4aa0e6;
        padding: 4%;
        border-radius: 20px;
}*/

.tasks-pending {
    grid-area: tasks-pending;
    color: white;
    background-color: #ffe924;
    padding: 4%;
    border-radius: 20px;
}

/*.tasks-my {
        grid-area: tasks-my;
        color: white;
        background-color: #c28dbf;
        padding: 4%;
        border-radius: 20px;
}*/

.hours {
    grid-area: hours;
    color: white;
    background-color: #874983;
    padding: 4%;
    border-radius: 20px;
}

.destaque{
    margin-top:0px;
    background-color: white;
}


/* ------------------------------------------------ MENU -------------------------- */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 100%; /* 0 width - change this with JavaScript */
    position: relative; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 5%; /* Stay at the top */
    left: 0;
    background-color: #c28dbf; /* fundo*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
    -webkit-box-shadow: 9px 0px 25px 0px rgba(50, 50, 50, 0.58);
    -moz-box-shadow:    9px 0px 25px 0px rgba(50, 50, 50, 0.58);
    box-shadow:         9px 0px 25px 0px rgba(50, 50, 50, 0.58);
}

/* The navigation menu links */
.sidenav a {
    padding: 6px 6px 6px 8px;
    text-decoration: none;
    font-size: 16px;
    color: white;
    display: block;
    transition: 0.3s;
    overflow: hidden;
}

.dropdown-btn {
    background-color: #c28dbf; /* fundo*/
    color: white;
    padding: 6px 6px 6px 8px;
    font-size: 16px;
    border: none;
    width: 100%;
    text-align: left;
    padding: 8px;
}

.sidenav ul li {
    padding: 2px 2px 2px 4px;
    font-size: 10px;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .dropdown-btn:hover {
    color: #874983;
    background-color: white;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: -6px;
    right: -7px;
    font-size: 26px;
    margin-left: 50px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 14px;}
}


/* Add an active class to the active dropdown button */
.active {
    background-color: #874983;
    color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
    display: none;
    background-color: #874983;
    padding-left: 8px;
    min-width: 170px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
    float: right;
    padding-right: 8px;
}

/* ------------------------------------------------ PRINCIPAL (MAIN) -------------------------- */

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 0px;
    margin-left: 200px;
    height: 100vh;
    display: block;
    background-color: red;
    z-index: 1;
}

.botao-ativar{
    color: white;
    padding-top: 4px;
    padding-bottom: 1px;
    padding-left: 3px;
    padding-right: 2px;
    background-color: #c28dbf;
    width:1.5vw;
    border-radius: 0px 8px 8px 0px;
    z-index: 9;
    float: left;
    position: fixed;
    -webkit-box-shadow: 9px 0px 25px 0px rgba(50, 50, 50, 0.58);
    -moz-box-shadow:    9px 0px 25px 0px rgba(50, 50, 50, 0.58);
    box-shadow:         9px 0px 25px 0px rgba(50, 50, 50, 0.58);

}

/* ------------------------------------------------ PÁGINAS (PAINEL) -------------------------- */

.secao-roxa{
    margin:0px;
    padding:0px;
    padding-top: 20px;
    border:none;
    height: auto;
    width:100%;
    clear: both;
    background-color: #874983;
}

.destaque_amarelo{
    text-align:center;
    color:#ff0;
    font-size:20px;
    font-weight:600;
    line-height: 0.7;
    padding-top: 15px;
}

.subtitulo-branco{
    text-align: center;
    color: white;
    font-weight:800;
    font-size:18px;
    margin: 0px;
    padding-top: 25px;
    padding-bottom: 0px;
}

.subtitulo-roxo{
    text-align: center;
    color: #874983;
    font-weight:800;
    font-size:18px;
    margin: 0px;
    padding-top: 15px;
    padding-bottom: 0px;
}

.titulo-roxo{
    color: #874983;
    margin-top: 10px;
    margin-bottom: 0px;
    font-weight:700;
    text-align:center;
    font-size:36px;
}

.titulo-branco{
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight:700;
    text-align:center;
    font-size:36px;
    line-height: 1;
}

.title-reports{
    color: #874983;
    margin-top: 10px;
    margin-bottom: 0px;
    font-weight:700;
    text-align:left;
    font-size:26px;
    border-bottom: 3px;
    border-color: #874983;
    border-bottom-style: solid;
    width: 100%;
}

.foto{
    margin:20px;
    padding:0;
    height:18%;
    width:60%;
    background-color:#fff;
    border-radius:500px;
    display:block;
    margin-left:auto;
    margin-right:auto
}

.center{
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:50%
}


.botao-claro{
    background: #c28dbf;
    border-radius: 9px;
    padding: 8px;
    cursor: pointer;
    color: black;
    border-width: 2px;
    border-color: #c28dbf;
    font-size: 14px
}

.botao-roxo{
    background: #874983;
    border-radius: 9px;
    padding: 8px;
    cursor: pointer;
    color: white;
    border-width: 2px;
    border-color: #c28dbf;
    font-size: 14px
}
/*NEW BUTTONS*/

.circular-button {
    border-color: #49d194;
    padding-top: 6px;
    padding-left: 0px;
    font-size: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    margin: 5px;
    vertical-align: middle;
    text-decoration: none;
    text-align: center;
    transition: 0.3s;
    width: 42px;
    height: 42px;
    display:inline-block;
    
}

.text-button {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    font-weight: bolder;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin-left: 5px;
    margin-right: 5px;
    vertical-align: middle;
    text-decoration: none;
    text-align: center;
    transition: 0.3s;
    display:inline-block;
    
}

.primary {
    color: #874983;
    background-color: #49d194;
        border-color: #49d194;
}

.primary:hover {
    color: #874983;
    background-color: #39ea94;
    text-decoration: none;
}

.secondary {
    color: #874983;
    background-color: #d8c2db;
}

.secondary:hover {
    color: #874983;
    background-color: #f9d0ff;
    text-decoration: none;
}

.button-active {
    background-color: #c28dbf ;
    border: none;
    border-width: 1px;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 9px;
    transition-duration: 0.4s;
    width: 100%;
}

.button-active:hover {
    background-color: red;
    border-color: #c28dbf;
    color: white;
}

.button-warning {
    background-color: yellow ;
    border: none;
    border-width: 1px;
    color: black;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 9px;
    transition-duration: 0.4s;
    width: 100%;
}

.button-warning:hover {
    background-color: red;
    border-color: #c28dbf;
    color: white;
}

.button-disable {
    background-color:  #B8B8B8  ;
    border: none;
    border-width: 1px;
    color: black;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 9px;
    transition-duration: 0.4s;
    width: 100%;
}

.button-disable:hover {
    background-color: red;
    border-color: #c28dbf;
    color: white;
}
/* ------------------------------------------------ PÁGINAS LISTALL -------------------------- */

.table-list{ 
    width: 100%;
    text-align:center;
    display: table;
    color:#874983;
    font-size: 13px;
    border-bottom-style: solid;
    border-width: 2px;
    padding-top: 0%;
}

.table-list-center{ 
    background-color: #EEEEEE;
    display: table-cell;
    vertical-align:super;
    border-bottom: solid;
    border-width: 1px;
    font-size: 13px;
}

.table-list-center:hover{ 
background-color: #f9d0ff;
}

.table-list-right{ 
    background-color: #EEEEEE;
    display: table-cell;  
    padding:0.5%;
    text-align: right;
    vertical-align:super;
    border-bottom: solid;
    border-width: 1px;
    font-weight: bolder;
    font-size: 13px;
}
.table-list-right:hover{ 
background-color: #f9d0ff;
}
.table-list-left{ 
    background-color: #EEEEEE;
    display: table-cell;  
    padding:0.5%;
    text-align: justify;
    vertical-align:super;
    border-bottom: solid;
    border-width: 1px;
    font-weight: bolder;
    font-size: 13px;
}
.table-list-left:hover{ 
background-color: #f9d0ff;
}

.table-list-left ul{ 
    list-style-type : circle;
    list-style-position: outside;
}

.table-list-money-expense{ 
    display: table-cell;  
    padding:0.5%;
    text-align: right;
    vertical-align:super;
    border-bottom: solid;
    border-width: 1px;
    color: red;
}

.table-list-money-income{ 
    display: table-cell;  
    padding:0.5%;
    text-align: right;
    vertical-align:super;
    border-bottom: solid;
    border-width: 1px;
    color: blue;
}

.table-list-header{ 
    border: solid;
    border-width: 1px;
    border-color: #874983;
    display: table-cell;  
    font-size: 13px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    color: white;
    vertical-align:middle;
    background-color: #c28dbf
}

.table-list-header-right{ 
    display: table-cell;  
    text-align: right;
    color: white;
    vertical-align:super;
    background-color: #c28dbf
}

/* ------------------------------------------------ PÁGINAS DETAILS -------------------------- */

.name{
    font-family: helvetica;
    font-weight:bolder;
    color: #874983;
    margin-top: 0px;
    margin-bottom: 5px;
    font-weight:bolder;
    text-align:left;
    font-size:32px;
}

.labels{
    font-family: helvetica;
    color: #874983;
    margin-top: 3px;
    margin-bottom: 5px;
    font-weight:bolder;
    text-align:left;
    font-size:16px;
}

.fields{
    color: #874983;
    margin-top: 3px;
    margin-left: 5px;
    margin-bottom: 5px;
    font-weight:400;
    text-align:left;
    font-size:16px;
}

.select{
    font-size:14px;
}

.button-round:hover {
    text-decoration: none;
    background-color: #6357A1;
    border-color: #6357A1;
    color: white;
}

.delete {
    color: #874983;
    background-color: #FDDBDD;
}

.delete:hover{
    background-color: #DF4650;
    color: white;
    text-decoration: none;
}