/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2 de mai de 2020, 20:39:13
    Author     : empresadigital
*/


* {
    box-sizing: border-box;
}

html, body {
    background-color: #3e518e;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    width: 100%;
}


 /* The side navigation menu */
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #c28dbf; /* cor do fundo*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.sidenav li {
  list-style: none;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 0px;
  height: 100vh;
  width: 100vw;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
} 


/*--------------- ESTILOS DO CONTEÚDO -------------- */


.secao {
    color:white;
    font-size:16px;
    width: 100%;
      
}

.coluna-esquerda {
    padding: 5vh;
    text-align: right;
    color:white;
    font-size:16px;
    width: 100vh;
    display: inline-block;
    text-align: center;
}

.coluna-direita {
    padding: 10px;
    color:white;
    font-size:16px;
    margin:auto;
    width: 100vh;
    display: inline-block;
    text-align: center;

}

.coluna-4 {
    padding: 5vh;
    text-align: right;
    color:white;
    font-size:16px;
    width: 50vh;
    float: left;
    text-align: center;
}

.titulo_branco{
    text-align: center;
    color:white;
    font-size:36px;
    font-weight: bold;
        margin-top: 0px;
}

.destaque_amarelo{
    text-align: center;
    color:yellow;
    font-size:26px;
    font-weight: bold;
}

.foto {
    margin: 20px;
    padding: 0px;
    height: 18%;
    width: 60%;
    background-color: white;
    border-radius: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


.secao {
    margin:auto;
}